@{
    ViewData["Title"] = "Responsáveis";
}

@model Pi_Odonto.Models.Responsavel

<div class="text-center">
    <h1>Excluir Responsável</h1>
    <p>Tem certeza que deseja excluir o responsável @Model.Nome?</p>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit">Confirmar Exclusão</button>
    </form>
</div>
