<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Administrador</a>
		<a class="nav-link" asp-controller="Produtos" asp-action=
		"Index">Produtos</a>
		<a class="nav-link" asp-controller="Login" asp-action=
		"Index">Sair</a>
	</nav>
</header>