@{
    ViewData["Title"] = "Fornecedor";
}

<div class="text-center">
    <h1>Fornecedores</h1>
    @model Projeto_MVC_Produtos.Models.Fornecedor

    <div class="text-center">
        <h1>Cadastro de Fornecedor</h1>
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <label>Razão Social</label>
            <input asp-for="Razaosocial" />
            <label>CNPJ</label>
            <input asp-for="Cnpj" />
            <label>Endereço</label>
            <input asp-for="Endereco" />
            <label>Telefone</label>
            <input asp-for="Telefone" />
            <button type="submit">Salvar</button>
        </form>
</div>
